body {
  background-color: rgb(41, 37, 37);
  color: azure;
}

.image {
  width: 150;
}

#table {
  border: 1px solid rgb(255, 255, 255);
  padding: 5px 10px 5px 30px;
}
#tableH {
  text-align: center;
  padding: 0.5vh 1.5vh 1vh 0;
  font-size: 20;
}
li {
  margin-bottom: 1vh;
}
a {
  color: azure;
}

p {
  display: block;
  width: 200;
}
